# Arquivos de IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/

# Arquivos de Logs e Temporários
*/log/
*/temp/
*.log
*.tmp
*.bak
*~

# Arquivos de Compilação/Binários (Exemplo Java/Maven/Gradle)
/target/
/build/
/out/
out/production/Price-Tag-with-Java
*.class
*.jar
*.war
*.ear
*.zip
*.rar

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de banco de dados
*.env
*.properties


